<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RamenGo!</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <div id="container_principal_sucess">
      <section>
        <div class="logo">
          <img src="../public/logo.png">
        </div>
        <div id="container_capa_sucess">
            <div class="image-broth-selected_sucess">
                <img src="../public/brothOne.png">
            </div>
            <div class="title-broth-selected_sucess">
                Your Order:
            </div>
            <div class="name-broth-selected-sucess">
                Shoyu and Karaague Ramen
            </div>
        </div>
      </section>
    </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>
