@mixin setWidthHeight($width, $height){
    width: $width;
    height: $height;
}

@mixin setflexDirectionAlignJustifyWrap($direction, $align, $justify, $wrap){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin setPositionAbsolute($top, $right, $bottom, $left){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin setPositionRelative($top, $right, $bottom, $left){
    position: relative;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin setFontSizeFontWeightLineHeight($fontSize, $fontWeight, $lineHeight){
    text-align: center;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

@mixin setContainerCapa($width, $height, $imageUrl){
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url($imageUrl);
    background-size: cover; 
    background-position: center;
    @include setWidthHeight($width, $height);
}

@mixin cardDesignDefault(){
    @include setWidthHeight(228px, 316px);
    background-color: $WhiteDefault;
    filter: drop-shadow(0 -1mm 4mm 	rgba(224, 219, 191, 0.49));
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    &:active {
        background-color: $BlueDefault;
    }
    &:active > .title-card, &:active > .description-card{
        color: $White;
    }
    &:active > .price-card{
        color: $YellowDefault;
    }
}