body{
    margin: 0;
}

#capa_container{
    height: auto;
    width: 100%;
}

#capa_background{
    width: 100%;
    height: auto;
}

.circle {
    width: 100px;
    height: 100px; 
    background-color: red;
    border-radius: 50%; 
}
