
#container_principal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url('./src/assets/background.png');
    background-size: cover; 
    background-position: center;
    @include setWidthHeight(360px, 677px);
}

.logo{
    @include setWidthHeight(125px, 16px);
    @include setPositionAbsolute(20px, 0px, 0px, 117px);
}

#container_capa{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    @include setWidthHeight(265.06px, 269px);
}

.balaoAzul{
    @include setWidthHeight(45.69px, 50.81px);
    @include setPositionAbsolute(63.54px, 0px, 0px, 48px);
}

.entregadora{
    @include setWidthHeight(262.3px, 269px);
    @include setPositionAbsolute(60px, 0px, 0px, 49.58px);
}

.circulo-marrom{
    background: #730000; 
    border-radius: 50%;  
    @include setWidthHeight(231.19px, 231.19px);
    @include setPositionAbsolute(78.9px, 0px, 0px, 61.78px);
}

.balaoAmarelo{
    @include setWidthHeight(41.75px, 95.31px);
    @include setPositionAbsolute(161.22px, 0px, 0px, 271.31px);
}

.letras-amarelas{
    @include setWidthHeight(219px, 54px);
    @include setPositionAbsolute(341px, 0px, 0px, 70px);
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFC024;
    font-family: "M PLUS Rounded 1c"
}
