//funções em scss para reutilizar css

@mixin setWidthHeight($width, $height){
    width: $width;
    height: $height;
}

@mixin setPositionAbsolute($top, $right, $bottom, $left){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}