#container_select_broths{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include setPositionRelative(20px, auto, auto, auto);
}

.title-select-broth{
    @include setWidthHeight(328px, 66px);
    @include setFontSizeFontWeightLineHeight(24px, 900, 31px);
    color: $BlackDefault;
    &::after{
        content: 'First things first: select your favorite broth.';
        white-space: pre-line;
    }
}

.subtitle-select-broth{
    @include setFontSizeFontWeightLineHeight(15px, 400, 24px);
    @include setPositionRelative(20px, auto, auto, auto);
    color: $BlackDefault;
    &::after{
        content: 'It will give the whole flavor on your ramen soup. ';
        white-space: pre-line;
    }
}

#container_scroll_broths{
    @include setPositionRelative(45px, auto, auto, auto);
    //??
}

.salt-broth{
    @include setWidthHeight(228px, 316px);
    background-color: $WhiteDefault;
    filter: drop-shadow(0 -1mm 4mm 	rgba(224, 219, 191, 0.49));
    border-radius: 12px;
    .shoyu-broth{
        @include setPositionRelative(20px, auto, auto, auto);
    }
}

.title-select-broth-two{
    @include setWidthHeight(328px, 66px);
    @include setFontSizeFontWeightLineHeight(24px, 900, 31px);
    @include setPositionRelative(65px, auto, auto, auto);
    color: $BlackDefault;
    &::after{
        content: 'It’s time to choose (or not) your meat!';
        white-space: pre-line;
    }
}
