#container_select_broths{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    @include setPositionRelative(20px, auto, auto, 13px);
}

.title-select-broth{
    @include setWidthHeight(328px, 66px);
    @include setFontSizeFontWeightLineHeight(24px, 900, 31px);
    color: $BlackDefault;
    &::after{
        content: 'First things first: select your favorite broth.';
        white-space: pre-line;
    }
}

.subtitle-select-broth{
    @include setFontSizeFontWeightLineHeight(15px, 400, 24px);
    @include setPositionRelative(20px, auto, auto, auto);
    color: $BlackDefault;
    &::after{
        content: 'It will give the whole flavor on your ramen soup. ';
        white-space: pre-line;
    }
}

#container_scroll_broths{
    @include setPositionRelative(45px, auto, auto, auto);
    //??
}

.card-one{
    @include cardDesignDefault();
}

.card-two{
    @include cardDesignDefault();
    @include setPositionRelative(20px, auto, auto, auto);
}

.card-three{
    @include cardDesignDefault();
    @include setPositionRelative(40px, auto, auto, auto);
}

.title-card{
    @include setFontSizeFontWeightLineHeight(20px, 900, 24px);
    @include setPositionRelative(10px, auto, auto, auto);
    color: $BlueDefault;
}

.description-card{
    color: $BlackDefault;;
    @include setFontSizeFontWeightLineHeight(10px, 400, 16px);
    @include setPositionRelative(15px, auto, auto, auto);
}

.price-card{
    color: $OrangeDefault;
    @include setFontSizeFontWeightLineHeight(20px, 900, 24px);
    @include setPositionRelative(35px, auto, auto, auto);
}

#container_select_proteins{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    @include setPositionRelative(131px, auto, auto, 13px);
}

.title-select-broth-two{
    @include setWidthHeight(328px, 66px);
    @include setFontSizeFontWeightLineHeight(24px, 900, 31px);
    color: $BlackDefault;
    &::after{
        content: 'It’s time to choose (or not) your meat!';
        white-space: pre-line;
    }
}

.subtitle-select-broth-two{
    @include setFontSizeFontWeightLineHeight(15px, 400, 24px);
    @include setPositionRelative(20px, auto, auto, auto);
    color: $BlackDefault;
    &::after{
        content: 'Some people love, some don’t. We have options for all tastes.';
        white-space: pre-line;
    }
}