
#container_principal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url('./src/assets/background.png');
    background-size: cover; 
    background-position: center;
    @include setWidthHeight(360px, 677px);
}

.logo{
    @include setWidthHeight(125px, 16px);
    @include setPositionAbsolute(20px, 0px, 0px, 117px);
}

#container_capa{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    @include setWidthHeight(265.06px, 269px);
}

.balaoAzul{
    @include setWidthHeight(45.69px, 50.81px);
    @include setPositionAbsolute(63.54px, 0px, 0px, 48px);
}

.entregadora{
    @include setWidthHeight(262.3px, 269px);
    @include setPositionAbsolute(60px, 0px, 0px, 49.58px);
}

.circulo-marrom{
    background: #730000; 
    border-radius: 50%;  
    @include setWidthHeight(231.19px, 231.19px);
    @include setPositionAbsolute(78.9px, 0px, 0px, 61.78px);
}

.balaoAmarelo{
    @include setWidthHeight(41.75px, 95.31px);
    @include setPositionAbsolute(161.22px, 0px, 0px, 271.31px);
}

.letras-amarelas{
    @include setWidthHeight(219px, 54px);
    @include setPositionAbsolute(341px, 0px, 0px, 70px);
    @include setFontSizeFontWeightLineHeight(48px, 900, 56px);
    color: $YellowDefault;
}

.title-go{
    @include setWidthHeight(231px, 100px);
    @include setPositionAbsolute(406px, 0px, 0px, 64px);
    @include setFontSizeFontWeightLineHeight(121px, 900, 100px);
    color: $WhiteDefault;
}

.description{
    @include setWidthHeight(300px, 81px);
    @include setPositionAbsolute(530px, 0px, 0px, 30px);
    @include setFontSizeFontWeightLineHeight(16px, 500, 20px);
    color: $WhiteDefault;
}

